
<h3>Please Log In</h3>
<form action="login_user">
  <p>
    Name:
    <input type = "text" name = "name" value = "">
    </p>
    <p>
    Email:
    <input type = "text" name = "email" value = "">
    </p>
    <p>
    Password:
    <input type = "text" name = "password" value = "">
    </p>
  <input type = "submit">

</form>

New User?
<a href="new_user">Sign Up Here</a>

<a href="logout">Signout</a>

