
<h3>Please Enter Information</h3>
<form action="create_user">
  <p>
    Name:
    <input type = "text" name = "new_name" value = "">
    </p>
    <p>
    Email:
    <input type = "text" name = "new_email" value = "">
    </p>
    <p>
    Password:
    <input type = "text" name = "new_password" value = "">
    </p>
  <input type = "submit">

</form>

Already a User?
<a href="/">Sign In Here</a>

