<h1>The List</h1>


<table border="1">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Completed</th>


    </tr>
  </thead>

  <tbody>
  <% @todo.each do |todo| %>
      <tr>


        <td><%= todo.title %></td>
        <td><%= todo.description   %> </td>
        <td><%=   %></td>
         <% end %>
   
    
        
      </tr>
    
  </tbody>
</table>